.colorFooter{
    background-color: #3c424d;
}

.LogoRose {

    width: 10%;
    height: auto;
  }
  .logorose{
    margin-left: 30em;
  }
.titre{
    color: white;
    margin-left: 35%;
    font-size: 1.5em;

}
.Copyright{
    margin-left: -7%;
}
  .heart{
      color:#e25555;
    }
