.navbar {
  background-color: #e37470;
}


.btn{
    border-color: black;
    color: black;
}

.collapse{
    margin-left: 30%;
}
.logowild {
  width: 5%;
  height: auto;
  margin-left: 5%;
}

.far{
    font-size: 25px;
}

img {
  margin-left: 10%;
}
