<nav class="navbar navbar-expand-lg ">
  <img src="assets/WHITELOGO.png" alt="logo wild" class="logowild">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 btnSearch" type="text" placeholder="Search" aria-label="Search" data-toggle="collapse" data-target="#barre_navigation">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> 
      
    </form>
  </div> -->
  <div class="search-container">
      <form action="">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


  <i class="fas fa-bell bell" id="test"></i>

    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0 imgProfil"
      alt="avatar image">
</nav>

<ul class="nav nav-pills nav-fill navBlack">
  <li class="nav-item ">
    <a class="nav-link text-light" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Profil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Vie Scolaire</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Organisation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Communauté</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link text-light" href="#">Librairie</a>
  </li>
</ul>
<br>
