.navbar {
  background-color: #e37470;
}


.btn{
    border-color: black;
    color: black;
}

.collapse{
    margin-left: 25%;
}
.logowild {
  width: 7%;
  height: auto;
  margin-left: 5%;
}

.bell{
    font-size: 33px;
}

img {
  margin-left: 10%;
}
.btnSearch{
  width: 20em;
}
.navBlack {
  background-color:  #3c424d;
  
}

a:hover {
  background-color: white;
  color :black !important;

 }


