.navbar {
  background-color: #e37470;
}


.btn{
    border-color: black;
    color: black;
}

.collapse{
    margin-left: 25%;
}
.logowild {
  width: 7%;
  height: auto;
  margin-left: 5%;
}

.bell{
    font-size: 33px;
    margin-left: 25%;
}

.imgProfil {
  margin-left: 3%;
}

.navBlack {
  background-color:  #3c424d;
  
}

a:hover {
  background-color: white;
  color :black !important;

 }
 .search-container{
   margin-left: 30%;
 }

 @media screen and (max-width: 600px) {
.search-container {
    float: none;
  }
 .search-container {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .imgProfil{
    width:10%;
  }
  .bell{
    font-size: 20px;
    margin-left:250px; 
}
 }